<a href="https://colab.research.google.com/github/Jkia65/Assignment-3-Python-Refresher/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lesson 4 Assignment**
### **Data Processing - Python Development and Pandas**

**Copy each task (including'Your code here:') to a different cell and complete the codes for each task. Add  your own comments where necessary**

Remember to push your changes to github and submit a PDF copy of your completed notebook with the outputs.

In [6]:
# Python and Pandas Assessment Notebook

import pandas as pd
import numpy as np
from functools import reduce

# Task 1: Create a DataFrame using Pandas
# Create a DataFrame with the following data:
# Name: Alice, Bob, Charlie, David
# Age: 25, 30, 35, 28
# City: New York, San Francisco, Los Angeles, Chicago

# Create a DataFrame with Name, Age, and City
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
})

print("Task 1 - Create DataFrame")
print(df)
print("\n")  # Adds a blank line after output


# Task 2: Row and Column Manipulation
# Drop the 'City' column from the DataFrame created in Task 1


df_dropped = df.drop('City', axis=1)

print("Task 2 - Row and Column Manipulation")
print(df_dropped, "\n")
print("\n")


# Task 3: Handling Null Values
# Create a new DataFrame with some null values and fill them

# Create a new DataFrame with some null values
df_null = pd.DataFrame({
    'A': [1, np.nan, 3],
    'B': [np.nan, 5, np.nan],
    'C': [7, 8, np.nan]
})

print("Task 3 - Handling Null Values")
print(df_null)

# Fill numeric columns with 0
df_filled = df_null.fillna(0)

print(df_filled)
print("\n")

# Task 4: GroupBy and Describe
# Using the following DataFrame, group by 'Category' and describe the 'Value' column

df_group = pd.DataFrame({
    'Category': ['A', 'B', 'A', 'B', 'A', 'C'],
    'Value': [10, 20, 15, 25, 30, 35]
})


grouped = df_group.groupby('Category')['Value'].describe()

print("Task 4 - GroupBy and Describe")
print(grouped)
print("\n")


# Task 5: Concatenation and Merging
# Concatenate two DataFrames vertically and merge them horizontally

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
df3 = pd.DataFrame({'C': [9, 10], 'D': [11, 12]})


concat_df = pd.concat([df1, df2], axis=0, ignore_index=True)
merged_df = pd.concat([concat_df, df3], axis=1)

print("Task 5 - Concatenation and Merging")
print(merged_df)
print("\n")


# Task 6: Tuples and Sets
# Create a tuple of fruits and a set of numbers.
# Then, try to add an element to each and observe the difference.

fruits = ('melon', 'banana', 'apple')
numbers = {1, 2, 3, 4, 5}

print("Task 6 - Tuples and Sets")
print(fruits)
print(numbers)
print("\n")


# Tuples are immutable, so we create a new tuple to add an element
fruits = fruits + ('orange',)
print("Fruits after adding:", fruits)

# Sets are mutable, so we can add elements directly
numbers.add(6)
print("Numbers after adding:", numbers)
print("\n")


# Task 7: Dictionaries
# Create a dictionary of student names and their scores.
# Then, update a student's score and add a new student.

students = {'Messi': 85, 'Hazard': 90, 'Ronaldo': 78}
students['Hazard'] = 95   # Update existing
students['David'] = 88 # Add new

print("Task 7 - Dictionaries")
print(students)
print("\n")


# Task 8: Functions and Lambda
# Create a function to calculate the square of a number.
# Then, use a lambda function to do the same.

def square(x):
    """Return the square of a number"""
    return x ** 2

square_lambda = lambda x: x ** 2

print("Task 8 - Functions and Lambda")
print("Function square:", square(4), square(7))
print("Lambda square:", square_lambda(4), square_lambda(7))
print("\n")


# Task 9: Iterators and Generators
# Create an iterator for the first 5 even numbers.
# Then, create a generator for the same.

# Iterator class for first 5 even numbers
class EvenIterator:
    def __init__(self, limit):
        self.limit = limit
        self.num = 0
    def __iter__(self):
        return self
    def __next__(self):
        if self.num < self.limit:
            val = self.num * 2
            self.num += 1
            return val
        else:
            raise StopIteration

print("Task 9 - Iterator Output:")
for n in EvenIterator(5):
    print(n, end=" ")
print("\n")

# Generator for first 5 even numbers
def even_generator(limit):
    for i in range(limit):
        yield i * 2

print("Task 9 - Iterators and Generators")
for n in even_generator(5):
    print(n, end=" ")
print("\n")


# Task 10: Map, Reduce, and Filter
# Use map to square all numbers in a list.
# Use reduce to find the product of all numbers in a list.
# Use filter to get only even numbers from a list.

numbers = [1, 2, 3, 4, 5]


squared = list(map(lambda x: x ** 2, numbers))
product = reduce(lambda x, y: x * y, numbers)
evens = list(filter(lambda x: x % 2 == 0, numbers))

print("Task 10 - Map, Reduce, and Filter")
print("Squared numbers:", squared)
print("Product of numbers:", product)
print("Even numbers:", evens)
print("\n")


# Task 11: Object-Oriented Programming - Creating a Class
# Create a class called 'Rectangle' with attributes 'length' and 'width'.
# Include methods to calculate area and perimeter.

class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

    def perimeter(self):
        return 2 * (self.length + self.width)

rect1 = Rectangle(5, 3)
rect2 = Rectangle(7, 2)

print("Task 11 - Object-Oriented Programming (Rectangle)")
print("R1:", rect1.area(), rect1.perimeter())
print("R2:", rect2.area(), rect2.perimeter())
print("\n")

# Task 12: Pandas Data Analysis
# Using the following DataFrame, perform these tasks:
# 1. Find the average salary by department
# 2. Get the names of employees with salary > 60000
# 3. Add a new column 'Bonus' which is 10% of salary

df_employees = pd.DataFrame({
    'Name': ['John', 'Jane', 'Bob', 'Alice', 'Charlie'],
    'Department': ['IT', 'HR', 'IT', 'Finance', 'HR'],
    'Salary': [55000, 65000, 70000, 60000, 58000]
})


print("Task 12 - Pandas Data Analysis")

# 1. Average salary by department
avg_salary = df_employees.groupby('Department')['Salary'].mean()
print("Avg Salary:\n", avg_salary)

# 2. Employees with salary > 60000
high_salary = df_employees[df_employees['Salary'] > 60000]['Name']
print("High Salary:", high_salary.tolist())

# 3. Add 'Bonus' column
df_employees['Bonus'] = df_employees['Salary'] * 0.10
print("Employees with Bonus:\n", df_employees)

Task 1 - Create DataFrame
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago


Task 2 - Row and Column Manipulation
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   28



Task 3 - Handling Null Values
     A    B    C
0  1.0  NaN  7.0
1  NaN  5.0  8.0
2  3.0  NaN  NaN
     A    B    C
0  1.0  0.0  7.0
1  0.0  5.0  8.0
2  3.0  0.0  0.0


Task 4 - GroupBy and Describe
          count       mean        std   min    25%   50%    75%   max
Category
A           3.0  18.333333  10.408330  10.0  12.50  15.0  22.50  30.0
B           2.0  22.500000   3.535534  20.0  21.25  22.5  23.75  25.0
C           1.0  35.000000        NaN  35.0  35.00  35.0  35.00  35.0


Task 5 - Concatenation and Merging
   A  B     C     D
0  1  3   9.0  11.0
1  2  4  10.0  12.0
2  5  7   NaN   NaN
3  6  8   NaN   NaN


Task 6 - Tuples and Sets
('melon', 'banana', 'apple')
{1, 2, 3, 4, 5}


Fruits after adding: ('melon', 'banana', 'apple', 'orange')
Numbers after adding: {1, 2, 3, 4, 5, 6}


Task 7 - Dictionaries
{'Messi': 85, 'Hazard': 95, 'Ronaldo': 78, 'David': 88}


Task 8 - Functions and Lambda
Function square: 16 49
Lambda square: 16 49


Task 9 - Iterator Output:
0 2 4 6 8

Task 9 - Iterators and Generators
0 2 4 6 8

Task 10 - Map, Reduce, and Filter
Squared numbers: [1, 4, 9, 16, 25]
Product of numbers: 120
Even numbers: [2, 4]


Task 11 - Object-Oriented Programming (Rectangle)
R1: 15 16
R2: 14 18


Task 12 - Pandas Data Analysis
Avg Salary:
 Department
Finance    60000.0
HR         61500.0
IT         62500.0
Name: Salary, dtype: float64
High Salary: ['Jane', 'Bob']
Employees with Bonus:
       Name Department  Salary   Bonus
0     John         IT   55000  5500.0
1     Jane         HR   65000  6500.0
2      Bob         IT   70000  7000.0
3    Alice    Finance   60000  6000.0
4  Charlie         HR   58000  5800.0